# Temp scripts
_write.*
*.ps1

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

docs/

src-tauri/target/
src-tauri/icons/*.png
src-tauri/icons/*.ico
src-tauri/icons/*.icns
